<div class="header1" id="titulo">
    <!-- Botón que abre el sidebar -->
    <button class="btnHeader" (click)="isSidebarVisible = true">
      <h4>&#9776; Menú </h4>
    </button>
  
    <app-sidebar [(sidebarVisible)]="isSidebarVisible" (sidebarClose)="isSidebarVisible = false"></app-sidebar>
  
    <a href="#">
      <h1>KickHub</h1>
    </a>
  
    <button class="btnHeader" (click)="isSidebarCartVisible = true">
      <h4>&#9776; Carrito ({{ totalItems }})</h4>
    </button>

    <app-sidebar-cart [(sidebarVisible)]="isSidebarCartVisible" (sidebarClose)="isSidebarCartVisible = false" [cart]="cart" (cartUpdated)="onCartUpdated($event)"></app-sidebar-cart>
  </div>
  