.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  gap: 2rem;
  margin: 3rem;
  overflow: visible;
}

h1, h2{
  font-family: "Permanent Marker", cursive;
}

.header-sneakerview {
  margin: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 1rem;
}

.header-sneakerview h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333; 
  margin: 0;
}

.header-sneakerview input {
  width: 300px;
  height: 45px;
  padding: 0.5rem 1rem; 
  font-size: 1rem;
  color: #333;
  border: 2px solid #717171;
  border-radius: 5px; 
  transition: all 0.3s ease;
}

.header-sneakerview input:focus {
  outline: none; 
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.header-sneakerview input::placeholder {
  color: #aaa; 
}

.search-bar{
  display: flex;
  gap: 12px;
  align-items: center;
}

@media (max-width: 1000px){
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 2rem;
    margin: 3rem;
    overflow: visible;
  }
}

@media (max-width: 768px){
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 2rem;
    margin: 3rem;
    overflow: visible;
  }

  .header-sneakerview{
    display: flex;
    flex-direction: column;
  }
}