<div class="body_home">
    <section class="conteiner">
        <div>
            <h1>EXPLORE EXCLUSIVE <br> SNEAKER RELEASES</h1>
            <p>Dive into KickHub for limited edition sneakers and streetwear<br>
                <b>Don't miss out!!!</b>
            </p>
            <a href="Gallery.php" class="button" target="_self">Shop Now</a>
        </div>
    </section>
    
    <section class="info">
        <div class="infotext">
            <h1>Upgrade your sneakers game with KickHub</h1>
            <p>
                Discover the ultimate online store for sneaker enthusiasts at KicksHub. Based in San Luis Potosí City, SLP,
                we offer a wide range of premium sneakers that will elevate your style. From iconic classics to the latest
                releases, KicksHub is your go-to destination for all things sneakers.
            </p>
        </div>
        <div class="infovid">
            <video id="miVideo" height="660" autoplay loop muted>
                <source src="kicks1.mp4" type="video/mp4">
                Tu navegador no admite la etiqueta de video.
            </video>
        </div>
    </section>
    
    <div id="servicesID">
        <h1>Services</h1>
    </div>
    <section class="services">
        <div class="typeService">
            <img src="" width="350" height="350">
            <h2>FAST DELIVERY OPTIONS</h2>
            <p>Choose from various shipping options for quick and reliable delivery of your orders.</p>
        </div>
        <div class="typeService">
            <img src="" width="350" height="350">
            <h2>24/7 CUSTOMER SUPPORT</h2>
            <p>Get assistance anytime, day or night, with our dedicated customer service team.</p>
        </div>
        <div class="typeService">
            <img src="" width="350" height="350">
            <h2>SECURE PAYMENT METHODS</h2>
            <p>Shop with confidence using our secure payment gateways and protect your financial information.</p>
        </div>
    </section>
    
    <section class="last">
        <div>
            <p>Shop the lastest collection of sneaker at KicksHub and step up your style game</p>
            <a href="Gallery.php" class="button" target="_self">Shop Now</a>
        </div>
    </section>
    
    
    <footer>
        <section>
            <a href="mailto: hola@gmail.com">Contacto</a>
        </section>
        <p>Copyright 2024</p>
    </footer>
</div>


