.management-container {
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .management-container h1 {
    text-align: center;
    color: #333;
  }
  
  .add-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .management-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .management-table th,
  .management-table td {
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .management-table th {
    background-color: #f2f2f2;
    color: #333;
  }

    .management-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  
  .management-table tr:hover {
    background-color: #ddd;
  }
  
  .edit-button,
  .delete-button {
    padding: 5px 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }


  .backBtn{
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: none;
  }

  .backBtn i{
    color: black;
    font-size: 3rem;
    transition: color 0.3s;
  }

  .backBtn i:hover{
    color: #9078B5;
  }

  td img{
    max-width: 200px;  
    height: auto;
  }


  


  /* Estilos para el modal */
.p-dialog {
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
  background-color: #f9f9f9;
}

/* Estilo para los labels */
.label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

/* Estilo para los inputs */
.input-field {
  padding: 0.75rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  font-size: 14px;
  transition: border-color 0.3s;
}

/* Estilo para los inputs cuando se enfocan */
.input-field:focus {
  border-color: #007ad9;
  outline: none;
}

/* Ajustes en el footer */
.p-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* Estilo para los botones */
.p-button {
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 14px;
}

/* Estilos adicionales para el botón Cancelar */
.p-button-secondary {
  background-color: #e0e0e0;
  color: #333;
  border: 1px solid #ccc;
}

.p-button-secondary:hover {
  background-color: #d5d5d5;
}

/* Estilos adicionales para el botón Guardar */
.p-button-primary {
  background-color: #007ad9;
  color: #fff;
  border: none;
}

.p-button-primary:hover {
  background-color: #0069c0;
}
