<!-- Card -->
<div class="tenisBox">
    <img class="img-item"
        src="{{sneaker.image}}"
        alt="imagen" width="350" height="350">
    <button class="btn" (click)="openModal()"> Comprar </button>
    <h2>{{sneaker.name}}</h2>
    <p>$    {{sneaker.price}}</p>
</div>

<!-- Modal -->
<div id="myModal" class="modal" [ngClass]="{ 'modal-visible': isModalVisible }">

  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    
    <div class="card flex">
        <p>
            <img class="img-item"
            src="{{sneaker.image}}"
            alt="imagen" width="350" height="350">
        </p>
        <p-divider layout="vertical" />
        <p>
            {{sneaker.name}}
            {{sneaker.description}}
        </p>
        <p>
            <button>comprar</button>
        </p>
        
    </div>
  </div>
</div>




