<div class="tenisBox">
    <img class="img-item"
        src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQH_NhwvXXz4-mXMT-4kIJvbshPtxOBdOgxZMg9zDEt1ZQKYhdNv8Haw3vTWjuAbmhMdiOJ1lirJRHWclYskXoIB-p4GIl6prmDj7PoXb9BNlOPmr02XU299w&usqp=CAE"
        alt="imagen" width="350" height="350">
    <button class="btn" (click)="openModal()"> Comprar </button>
    <h2>Tenis Nike</h2>
    <p>Precio</p>
</div>


<div id="myModal" class="modal" [ngClass]="{ 'modal-visible': isModalVisible }">

  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    
    <p>Some text in the Modal..</p>
  </div>
</div>

<div class="card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible">
        <h3>Sidebar</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </p-sidebar>
    <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />
</div>