<!-- Card -->
<div class="tenisBox">
    <img class="img-item"
        src="{{sneaker.image}}"
        alt="imagen" width="350" height="350">
    <button class="btn" (click)="openModal()"> Comprar </button>
    <h2>{{sneaker.name}}</h2>
    <p>${{sneaker.price}}</p>
</div>

<!-- Modal -->
<div id="myModal" class="modal" [ngClass]="{ 'modal-visible': isModalVisible }">

  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    
    <div class="card flex">
        <div class="image-column">
            <img class="img-item" 
                 src="{{sneaker.image}}" 
                 alt="imagen" width="350" height="350">
        </div>
        <p-divider layout="vertical" />
        <div class="description-column">
            <p><b>{{sneaker.name}}</b></p>
            <p>{{sneaker.description}}</p>
        </div>
        <div *ngIf="isUser()" class="cart-column">
            <button (click)="onAddToCart()" class="cartBtn"><i class="pi pi-cart-plus "></i></button>
        </div>
        <div *ngIf="!isUser()" class="cart-column">
            <p class="carTextNoUser"><b>Ingresa para agregar productos a tu carrito!!!</b></p>
        </div>
    </div>
    
  </div>
</div>




