<div class="conteiner">

<!--   <header id="titulo">
    <button class="openbtn" onclick="openNav()">
        <h4>&#9776; Menu</h4>
    </button>
    <a href="#">
        <h1>KickHub</h1>
    </a>
</header> -->

<!-- Side bar 
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <?php
    if (isset($_SESSION['user'])) {
    ?>
        <h2>Bienvenido <?php echo $username ?></h2>
    <?php
    }
    ?>
    
    <a href="Gallery.php">Shop Now</a>
    <a href="#">Post</a>
    <a href="mailto: hola@gmail.com">Contact</a>
    <?php
    if (isset($_SESSION['user'])) {
    ?>
        <a href="./logica/logout.php">Log Out</a>
    <?php
    }
    ?>
    <?php
    if (!isset($_SESSION['user'])) {
    ?>
        <a href="./login.php">Log In</a>
    <?php
    }
    ?>
    
</div> -->

<!--  -->




<app-home></app-home>
</div>

