<div class="all">
   <!--  <header class="titulo">
        <h1>KickHub</h1>
    </header> -->
    <section class="container">
        <form action="" method="POST" class="form">
            <h2>Iniciar sesión</h2>
            <input type="text" name="user" placeholder="Usuario">
            <input type="password" name="pass" placeholder="Contraseña">
            <button type="submit" class="btn">Ingresar</button>
            <div class="message">
                <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
            </div>
        </form>
    </section>
</div>
