.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
  
}

.all{
  background-color: #cbcbcb;
}



.btnContainer{
  align-items: center;
  justify-content: center;
  width: max-content;
}

.addPostBtn:hover{
  background-color: white;
  color: black;
}

.create-post-btn {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 22px;
  border: none;
  border-radius: 30px;  
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin-left: 180px;
  background-color: #30293B;
  float: inline-start;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.create-post-btn i {
  font-size: 22px; 
}

.create-post-btn:hover {
  background-color: #453855; 
  transform: translateY(-2px);
}

.create-post-btn:active {
  background-color: #3B2F47; 
  transform: translateY(1px);
}


