<app-header1></app-header1>
<div class="all">
  <!-- Botón para abrir el modal -->
  <div class="btnContainer">
    <button (click)="showDialog()" class="create-post-btn">
      <i class="pi pi-pencil"></i> Crear Post
    </button>
  </div>

  <div class="posts-container">
    <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
  </div>
</div>


<p-dialog class="custom-dialog" header="Crear un nuevo post" [modal]="true" [(visible)]="visible"
  [style]="{ width: '50vw', height: '50vw'}">
  <div class="create-post-form">
    <textarea [(ngModel)]="newPost.content" placeholder="Escribe tu post aquí..."></textarea>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancelar" severity="secondary" (click)="cancelPost()" />
      <p-button label="Crear" (click)="createPost()" (click)="cancelPost()" />
    </div>
  </div>
</p-dialog>