<div class="card flex justify-content-center">
  <p-sidebar #sidebarRef [(visible)]="sidebarVisible" (onHide)="closeSidebar()" position="right"
    [style]="{ width: '500px', height: '100%' }">
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full all">
        <!-- Header -->
        <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
          <span class="inline-flex align-items-center gap-2">
            <h2 class="cart-title">Tu Carrito</h2>
          </span>
          <span>
            <button class="closeBtn" (click)="closeSidebar()"><i class="pi pi-times"></i></button>
          </span>
        </div>

        <div class="sidebar-cart">

          <div *ngIf="cart.length === 0" class="empty-cart-message">
            No hay productos en el carrito.
          </div>

          <!-- Lista de productos en el carrito -->
          <ul *ngIf="cart.length > 0" class="cart-items">
            <li *ngFor="let sneaker of cart" class="cart-item">
              <div class="item-details">
                <img [src]="sneaker.image" alt="{{ sneaker.name }}" class="item-image" />
                <div class="item-info">
                  <h3 class="item-name">{{ sneaker.name }}</h3>
                  <p class="item-quantity">Cantidad: {{ sneaker.quantity }}</p>
                  <p class="item-price">{{ sneaker.quantity }} x ${{ sneaker.price }}</p>
                </div>
              </div>
              <button class="remove-btn" (click)="onRemoveFromCart(sneaker)"><i class="pi pi-cart-minus"></i></button>
            </li>
          </ul>

          <!-- Total -->
          <div *ngIf="cart.length > 0" class="total">
            <button class="pay-btn">
              <i class="pi pi-credit-card"></i> 
              Pagar
            </button>
            
            <p><strong>Total: </strong>${{ getTotalPrice() }}</p>
          </div>
        </div>


      </div>
    </ng-template>
  </p-sidebar>
</div>